*	{
	margin: 0
	padding:0;
	font-family: arial;
	font-size: 5em
	font-weight: normal;
	}


body { background: url(../Imagenes/Aficion.jpg) no-repeat fixed center center;
	background-size: cover;
	}	

h2 { color: black; 
    } 

.Cuadro2 {
	font-weight: bold;
	margin: 20px;
	padding: 3px;
 	
 	}

#Cuadro0 {
	width: 650px;
	height: 250px;
	}

#Cuadro1 {
	width: 430px;
	height: 287px; 
	background-color: rgb(63,22,31);
	float: left;
	margin: 10px;
	border-radius: 70px
	}

#Cuadro2 {
	width: 855px;
	height: 290px; 
	background-color: rgb(23,85,82);
	float: right;
	margin: 10px;
	border-radius: 40px
	}	

#Enlaces {
	width: 1327px;
	height: 179px;
	background-color: rgb(63,32,5);
		}

.Enlaces {
	margin: 3px;
	
	}

.PlanetaFutbol{
	width: 100%;	
 	border: 1px grey;
 	border-radius: 70px
 	}

 .Premier {
	width: 346px
 	}

.Calcio {
	width: 141px
	}

.Bundes {
	width: 318px
	}

.Ligue1 {
	width: 131px
	}

.LigaAguila{
	width: 175px;
	height: 180px;
	}

#Cuadro3{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(80,80,70);
	border-radius: 25px;
	}

.Cuadro3{
	margin: 15px;

	}

.Cuadro3T{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 32pt
	}

.Cuadro3U{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 22pt
	}

#Cuadro5{
	float: left;
	margin: 50px;
	background-color: #7BA1B6;
	border-radius: 25px;
	}
.Cuadro5{
	margin: 15px;
	}

.Cuadro5U{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 32pt
	}

.Cuadro5T{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 28pt
	}

.Brasil-Juegos-Olímpicos-2016-Fútbol{
	width: 600px
	}

#Cuadro4{
	float: left;
	margin: 50px;
	background-color: #B28C44;
	border-radius: 25px;
	}

.Cuadro4U{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 36pt
	}
.Cuadro4{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17pt;
	}

.Cuadro4T{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 27pt
	}

.logo{
	border-radius: 25px;
	}

.Asia{
	width: 400px;
	}

.UEFA{
	width: 400px;
	}

.Sudamericana{
	width: 400px;
	}

.Concacaf{
	width: 300px;
	}

.Oro{
	width: 300PX;
	}

#Cuadro6{
	float: left;
	margin: 50px;
	background-color: #D1E2ED;
	border-radius: 25px;
	width: 500px;
	height: 530px;
	}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}
 
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}