body { background: url(../Imagenes/Cuadrybala.jpg) no-repeat fixed center center;
	background-size: cover;}

#Cuadro1{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(63,85,82);
	border-radius: 25px;
	}
.Cuadro1{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17pt;
	}

.Futblologo{
	width: 650px;
	height: 250px
	}

.Cuadro2{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 27pt
	}
#Cuadro2{

	}

table{
	border: 1px solid #000;
	border-collapse: collapse;
	}

table td{
	border: 1px solid #000;
	padding: 11px;
	}
.Tabla{
	background: rgb(200,200,200);
	}


#Cuadro3{
	float: left;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(180,180,170);
	border-radius: 25px;
	}

#Cuadro6{
	float: left;
	margin: 50px;
	background-color: #D1E2ED;
	border-radius: 25px;
	width: 740px;
	}
.Sere{
	width: 600px;
	}

.Dzeño{
	width: 200px;
	height: 200px;
	}