body { background: url(../Imagenes/Francia.jpg) no-repeat fixed center center;
	background-size: cover;
 	}
 #Cuadro1{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(136,125,82);
	border-radius: 25px;
	}

.eee{
	width: 500px;
	}

.Cuadro1{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17pt;
	}

.Futblologo{
	width: 650px;
	height: 250px
	}

.Cuadro2{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 27pt
	}
#Cuadro2{

	}

table{
	border: 1px solid #000;
	border-collapse: collapse;
	}

table td{
	border: 1px solid #000;
	padding: 11px;
	}
.Tabla{
	background: rgb(200,200,200);
	}

.News{
	width: 300px
	}

#Cuadro3{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(30,120,70);
	border-radius: 25px;
	}

#Cuadro6{
	float: left;
	margin: 50px;
	background-color: #D1E2ED;
	border-radius: 25px;
	width: 740px;
	}	