*	{
	margin: 0
	padding:0;
	font-family: arial;
	font-size: 3em
	font-weight: normal;
	}

#Cuadro1 {
		border-radius: 10px;
		
		  }

body { background: rgb(70,10,20);
     background: url(../Imagenes/España.jpg) no-repeat fixed center center;
	background-size: cover;
	}	

.Futblologo{
	width: 650px;
	height: 250px
	}

.Cuadro2{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 27pt
	}

.Cuadro1{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17pt;
	}

#Cuadro3{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(80,80,70);
	border-radius: 25px;
	}

table{
	border: 1px solid #000;
	border-collapse: collapse;
	}

table td{
	border: 1px solid #000;
	padding: 11px;
	}
.Tabla{
	background: rgb(200,200,200);
	}
.Cristiano{
	width: 450px
	}

.Suárez{
	width: 400px;
	}

#Cuadro6{
	float: left;
	margin: 50px;
	background-color: #D1E2ED;
	border-radius: 25px;
	width: 740px;
	}