body { background:  
	url(../Imagenes/Atanasio.jpg) no-repeat fixed center center;
	background-color: grey;
	background-size: cover ;
	}	

.Futblologo{
	width: 650px;
	height: 250px
	}

#Cuadro1{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(63,85,82);
	border-radius: 25px;
	}

.Cuadro1{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 17pt
	}
.cuadro8{
	margin: 20px;
	font-family: "Times New Roman", Times, serif bold;
	font-size: 18pt 
	;
	font: bold;
	}

.Cuadro2{
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 27pt
	}

#Cuadro3{
	float: right;
	width: ;
	right: ;
	margin: 50px;
	background-color: rgb(80,80,70);
	border-radius: 25px;
	}
table{
	border: 1px solid #000;
	border-collapse: collapse;
	}

table td{
	border: 1px solid #000;
	padding: 11px;
	}
.Tabla{
	background: rgb(200,200,200);
	}
.Dayro{
	height: 300px
	}
.Yamilson{
	height: 300px; 
	width:400px
	}

#Cuadro6{
	float: left;
	margin: 50px;
	background-color: #D1E2ED;
	border-radius: 25px;
	width: 740px;
	}